<a href="https://colab.research.google.com/github/TariqNajem/TariqNajem-final-project-ds/blob/main/TariqNajem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project: Data Science Tools and Practices

## Introduction
This notebook covers basic concepts and tools in data science.

## Data Science Languages
1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

## Data Science Libraries
1. Pandas  
2. NumPy  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

## Data Science Tools

| Tool           | Description                    |
|----------------|--------------------------------|
| Jupyter Notebook | Interactive coding notebook |
| RStudio        | IDE for R                     |
| Apache Spark   | Big data processing           |

## Arithmetic Expressions
Here are examples of basic arithmetic expressions using Python.

In [1]:
(4 * 6) + 2

26

In [2]:
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Understand data science languages  
- List key libraries and tools  
- Use arithmetic expressions in code  
- Convert minutes to hours using Python

## Author
Tariq Najem